@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size:small;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins',"Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items:center;
  /*justify-content: flex-start;*/
  margin-left: 5px;
  background: #0ffb46;
  overflow-y: auto; /* Enable vertical scrolling */
}

.startContainer {
  margin-top: 10px;
}

.containerImage {
    width: 100px; /* Set a fixed width for the container */
    height: 100px; /* Set a fixed height for the container */
    border-radius: 50%; /* Make the container round */
    overflow: hidden; /* Ensure the image does not overflow the container */
  }  

.containerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* This is the input element */
#my-form input {
    width: 20%; 
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
  }

form {
    display:block;
}

#result {
    display:block;
}

.container {
    max-width: var(--container);
    padding: 0 2rem;
    margin: var(--m-auto);
  }
  
  .swiper {
    position: relative;
    width: 240px;
    height: 320px;
    margin-top: 15px;
  }
  
  .swiper-slide {
    border-radius: 18px;
  }
  
  .swiper-slide img {
    width: 100%;
    object-fit: cover;
    border-radius: 18px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .btn {
    padding: 15px 10px;
    border: none;
    border-radius: 9px;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
  }
  
  .btn:hover {
    transform: scale(1.05);
  }
  
  #reject {
    background-color: crimson;
    color: white;
  }
  
  #accept {
    background-color: dodgerblue;
    color: white;
  }
  
  #reject:hover {
    background-color: #dc143c; /* Slightly darker crimson on hover */
  }
  
  #accept:hover {
    background-color: #1e90ff; /* Slightly darker dodgerblue on hover */
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(55px, 1fr));
    gap: 2px;
    min-width: 320px;
    min-height: 240px;
    background-color: grey; /* Set background color of grid to grey */
    border-radius: 12px;
  }
  
  .square {
    background-color: #FFD700; /* Shiny yellowish background color */
    border-radius: 9px;
  }

  #messages {
    /* Position chat window below swiper container */
    width: 100%;
    min-height: 300px;
    background: #ed9595;
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px;
    box-sizing: border-box;
    clear: both; /* Ensure it clears floated elements */
}

#sendMsg {   
    width: 100%;
    min-height: 50px;
    background: #ec3f3f;
    clear: both; /* Ensure it clears floated elements */
}

#msgTxt {
    width: calc(100% - 100px);
    height: 100%;
    padding-left: 5px;
    box-sizing: border-box;
    float: left; /* Float left to make it side by side with the button */
}

#msgBtn {
    width: 100px;
    height: 100%;
    float: left; /* Float left to make it side by side with the input */
}
.outer{   
    width:100%;
    margin-top:10px;
    display:flex;
}
#inner{
    padding:10px;
    box-sizing: border-box;
    border-radius:10px;
}
.me{
    background:#8800FF;
    color:#fff;
}
.notMe{
    background:#FFF;
    color:#000;
}

img::after {
  content: attr(alt);
  position: absolute;
  background: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: none;
}

img:hover::after {
  display: block;
}


  
  

  